# Backend Service Configuration
DATABASE_LOCAL=mongodb://localhost:27017/ai-code-analyzer
PORT=3000

# Service URLs
ANALYZER_URL=http://localhost:8000/api/v1/analyze
AI_ENGINE_URL=http://localhost:8002/evaluate
AI_DETECTION_URL=http://localhost:8005/detect

# Frontend URL
FRONTEND_URL=http://localhost:5173
