# AI Detection Service Configuration
AI_DETECTION_PORT=8005
PROVIDER=groq

GROQ_API_KEY=your_groq_api_key_here
GROQ_API_KEY_2=your_second_groq_api_key_here

# Model Name
MODEL_NAME=llama-3.1-8b-instant
